.ubl-footer {
	display: block;
	position: absolute;
	bottom: 16px;
	left: 25%;
	z-index: 20;
}

.reveal section img  {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}