.bigshape {
	background-image: url('../../images/corporate-design/background-2.png')

}

.mediumshape {
	background-image: url('../../images/corporate-design/background-3.png')
}

@font-face {
  font-family: 'Futura Book';
	src: url('../../fonts/Futura Book.woff2') format('woff2'),
}